<!DOCTYPE>
<html>
<head>
    <title>Sisteme cu multiprocesoare</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="https://www.raspberrypi.org/app/uploads/2011/10/Raspi-PGB001.png">
</head>
<body>
    <h1>Sisteme cu Microprocesoare - Stratulat Stefan</h1>
    <a href="/">Acasa | </a>
    <a href="/websitehost">Website Hosting | </a>
    <a href="/performante">Performante sistem in timp real | </a>
    <a href="/monitor">Monitor Ambiental | </a>
    <a href="/etilotest">Etilotest</a>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>