{% extends 'base.html' %}
{% block content %}
    <h3 class="title">Raspberry Pi 4 Model B/4GB</h3>
    <h3> - Procesor Broadcom 2711, pe arhitectura Cortex - A72, 64 biti, 4 nuclee fizie si frecventa 1.5 GHz</h3>
    <h3> - Memorie RAM 4GB LPDDR4 SDRAM</h3>
    <h3> - WiFi : 2.4/5 GHz IEE 802.11 b/g/nac</h3>
    <h3> - Bluetooth : 5.0 BLE</h3>
    <h3> - Ethernet : Gigabit</h3>
    <h3> - Header GPIO cu 40 pini</h3>
    <h3> - H.265 decode (4kp60) & H.264 decode (1080p60) & H.264 encode (1080p30)</h3>
    <img id="rpi" src="https://static.optimusdigital.ro/31728-large_default/raspberry-pi-4-model-b-4gb.jpg" />
    <h3>In cadrul acestui proiect, vom face o scurta prezentare a RPi, punand in evidenta puterea de calcul
        si buna integrare cu sistemul de operare Linux. Vom folosi toate caracteristicile hardware si software si
        buna integrare dintre acestea pentru a dezvolta urmatoarele : </h3>
    <ul style="list-style-type: disc">
        <li>Host pentru un website</li>
        <li>Afisarea performantelor sistemului in timp real</li>
        <li>Monitor al starii ambientale</li>
        <li>Etilotest</li>
    </ul>
{% endblock %}
