body{
    background-image : url('https://www.theitvortex.com/wp-content/uploads/2019/02/cyber-wallpaper-itvortex-blog.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    text-align : center;
    font-family: fantasy;
}

h1{
    margin-top:25px;
    margin-bottom:100px;
    font-size:50px;
    color : white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
h3 ,li {
    margin-top:25px;
    margin-bottom:25px;
    font-size:30px;
    color : white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding:5px;

}
a{
    font-size:40px;
    color : white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-decoration : none;
}
#content{
    width:1500px;
    margin : 100px auto 100px auto;
    border : 5px solid white;
    border-radius : 15px;
    padding:10px;
}

#rpi{
    width:300px;
    margin-bottom:50px;
}
ul{
    text-align:left;
}

.title{
    font-size:40px;
    margin-bottom:100px;
}

#websiteredirect{
    margin-top : 50px;
    margin-bottom : 100px;
    color : green;
}

fieldset{
    width : 800px;
    margin-left:auto;
    margin-right:auto;
    border : 3px solid white;
    border-radius:10px;
    margin-top : 50px;
}

button{
    width:500px;
    font-size:30px;
    margin-top:50px;
    margin-bottom:50px;
    font-family : fantasy;
}

#alcool{
    border : 5px solid white;
    border-width : 10px;
    display : none;
}
